// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

// .footer {}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

.copyright {
  padding: 56px 0;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: $secondary-text-color;
}
