.section-hero {
   
}

.flex-side {
    display: flex;
}

.hero-left-side {}

.hero-right-side {
    position: relative;
    
        flex-grow: 1;
        background-image: url(../images/background/Slider-main.jpg);
        background-size: cover;
       
}