// .galery {}

.uppertitle {
    margin-bottom: 44px;
}

// .section-title {}


// .galery-list {}

.galery__item {
    border-radius: 20px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


