.subtitle {
  margin-top: 20px;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  }

.subtitle--dark-theme {
  @extend .subtitle;
  color: $secondary-text-color;
}
