:root {
  /* Palette BackGroun Colors*/
  --primari-bg-color: #ffffff;
  --secondary-bg-color: #f7f7f7;
  --footer-bg-color: #3b4464;
  /* Palette Text Colors*/
  --primary-text-color: #555555;
  --secondary-text-color: #9da4bd;
  --secondary-text-color-alpha: rgba(157, 164, 189, 0.6);
  --title-text-color: #303030;
  --link-text-color: #ff6c00;
  --white-text-color: #ffffff;
  --noactive-text-color: rgba(157, 164, 189, 0.4);
  /* OTHER */
  --section-padding: 130px;
  --items: 1;
  --indent: 30px;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primari-bg-color);
  font-family: "Open Sans", Raleway, Montserrat, sans-serif;
}

/* Скидання налаштувань посилань та списків */

a {
  text-decoration: none;
  color: currentColor;
}
ul {
  list-style: none;
}
button {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}

/* скидаємо MARGIN де це потрібно */
ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/* КОНТЕЙНЕР */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

/* ХЕДЕР */

.bg-group {
  max-width: 1224px;
  min-height: 680px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/background/Slider-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 150px 0;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav .link {
  display: block;
  color: var(--white-text-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.1em;
  padding-top: 20px;
  padding-bottom: 20px;

  transition: color 250ms ease, transform 250ms ease;
}
.nav a:hover,
.nav a:focus {
  color: var(--link-text-color);
  transform: scale(1.2);
}

.contacts .tel {
  display: inline-block;

  color: var(--white-text-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  margin-right: 45px;
  padding-top: 30px;
  padding-bottom: 30px;

  transition: color 250ms ease, transform 250ms ease;
}
.contacts .tel:hover,
.contacts .tel:focus {
  color: var(--link-text-color);
  transform: scale(1.2);
}

.btn-booking {
  color: var(--white-text-color);
  background-color: transparent;

  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  min-width: 160px;
  min-height: 40px;
  padding: auto;
  border: 1px solid var(--link-text-color);
  border-radius: 20px;
  transition: all 250ms ease;
}
.btn-booking:hover,
.btn-booking:focus {
  background-color: rgb(255, 108, 0);
  box-shadow: -2px 1px 24px 6px rgba(255, 108, 0, 0.75);

  cursor: pointer;
}

.btn-booking:active {
  background-color: rgb(255, 108, 0);
  box-shadow: -2px 1px 24px 6px rgba(255, 108, 0, 0.5) inset;

  /* cursor: pointer; */
}

/* FLEX HEADER */

.header-flex {
  display: flex;
  align-items: center;
}

.nav .list {
  display: flex;
}

.nav .list-item:not(:last-child) {
  margin-right: 30px;
}

.nav {
  margin-left: 70px;
}

.contacts {
  margin-left: auto;
}

/**
  |============================
  | CARD-SET
  |============================
*/

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/**
  |============================
  | HERO
  |============================
*/

.hero {
  padding-top: 100px;
  padding-bottom: 100px;
}

.main-title {
  color: var(--white-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.uppertitle {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.uppertitle.dark-theme {
  color: var(--secondary-text-color-alpha);
}

.uppertitle.white-theme {
  color: var(--title-text-color);
}

.uppertitle::before {
  content: "";
  width: 60px;
  height: 1px;

  display: block;
  margin-right: 20px;
}

.uppertitle.white-theme::before {
  background-color: var(--title-text-color);
}
.uppertitle.dark-theme::before {
  background-color: var(--secondary-text-color-alpha);
}

.subtitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  margin-top: 20px;
}

.social-list .link {
  display: inline-block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--title-text-color);

  transition: all 250ms ease-in-out;
}

.social-list .link:hover {
  transform: scale(1.2);
  color: var(--link-text-color);
}

.social-list > .list-item:not(:last-child)::before {
  content: "";
  width: 60px;
  height: 1px;

  display: block;
  margin-right: 40px;

  background-color: var(--title-text-color);
}

.hero .btn {
  color: var(--white-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}

.hero .btn:hover,
.hero .btn:focus {
  color: var(--secondary-text-color-alpha);
}

.hero .group {
  min-width: 510px;
  margin-left: 100px;
}

.hero .subtitle {
  color: var(--secondary-text-color);
}

/* FLEX HERO */

.hero-flex {
  display: flex;
  height: 370px;
}
.hero-flex .list {
  align-self: flex-end;
  margin-left: auto;
  display: flex;
}
.hero-flex .list-item:not(:last-child) {
  margin-right: 22px;
}

.hero-flex .social-list {
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  width: 80px;
}

.social-list .list-item:not(:last-child) {
  margin-right: 20px;
}

/**
  |============================
  | ABOUT
  |============================
*/

.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .btn {
  margin-top: 40px;
  color: var(--title-text-color);
}

.section-title {
  font-family: "Raleway";
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--title-text-color);
}

.about .desc {
  margin-top: 20px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.about .list-item {
  position: relative;
  overflow: hidden;
}

.about .list-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 445px;
  opacity: 0;
  transform: scalex(0);

  background-color: var(--secondary-text-color-alpha);

  /* transform: translateX(-100%); */
  pointer-events: none;
  transition: all 250ms ease-in-out;
}

.about .list-item:hover::before {
  opacity: 1;
  /* transform: translateX(0); */
  transform: scalex(1);
}

/* FLEX ABOUT */

.about-flex {
  display: flex;
}

.about .list {
  display: flex;
}
.about .list-item:not(:last-child) {
  margin-right: 30px;
}

.about .group {
  max-width: 470px;
  margin-left: 64px;
}

/**
  |============================
  | PRICES
  |============================
*/

.section-price {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #111319;
  background-image: url(../images/background/price-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.section-price .uppertitle {
  color: var(--secondary-text-color-alpha);
}
.section-price .section-title {
  color: var(--white-text-color);
  margin-bottom: 44px;
}

.section-price .list {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

.price-1 {
  background-image: linear-gradient(
    to right,
    rgba(85, 86, 96, 0.3),
    rgba(85, 86, 96, 0.3)
  );
}

.price-2 {
  background-image: linear-gradient(
    to right,
    rgba(44, 44, 51, 0.5),
    rgba(44, 44, 51, 0.5)
  );
}

.section-price .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.price-item {
  display: flex;
  margin-right: 20px;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 20px;
}

.kind-service {
  display: flex;
  justify-content: space-between;
  width: 350px;
  align-items: baseline;
}

.kind-service::after {
  content: "";
  display: block;
  width: 100px;

  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

/* FLEX PRICE */

.list-group {
  display: flex;
  margin-bottom: 50px;
}

.list-group .list {
  width: calc(100% / 2);
  padding: 30px 40px;
}

/* BENEFITS */

.section-benefits {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.quantity {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
}
.quantity sup {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  color: #ff6c00;
  vertical-align: top;
}

.section-benefits .desc {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;
  color: var(--title-text-color);
}

.section-benefits .group {
  width: 500px;
  margin-left: 130px;
}

.section-benefits .list {
  width: 370px;
}

/* FLEX BENEFITS */

.benefits-flex {
  display: flex;
  justify-content: center;
}

.flex-list {
  display: flex;
  height: 100%;
}

.flex-list .list-item {
  width: calc(100% / 2);
}

.flex-item {
  height: calc(331px / 2);
}

.item-end {
  align-self: flex-end;
}

.quentity-group {
  width: 170px;
  height: 133px;
  padding: 15px;
  background-color: var(--secondary-bg-color);
  box-shadow: 7px 13px 25px -6px rgba(0, 0, 0, 0.72);
}

/* TEAM */

.section-team {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);

  background-color: var(--secondary-bg-color);
}

.section-team .section-title {
  margin-bottom: 44px;
}

.card-title {
  text-align: center;
  padding-top: 30px;
}

.team-name {
  margin-bottom: 8px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
}

.team-position {
  margin-bottom: 30px;

  color: var(--link-text-color);
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
}

/* FLEX TEAM */

.team-list {
  --items: 3;
}

.card-title .socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: #303030;
  fill: currentColor;

  transition: all 250ms ease-in-out;
}

.socials-link:hover,
.socials-link:focus {
  color: var(--link-text-color);
  transform: scale(1.2);
  box-shadow: -2px 1px 24px 6px rgba(157, 164, 189, 0.75),
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* GALERY */

.section-galery {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.section-galery .uppertitle {
  margin-bottom: 44px;
}

.galery-list {
  --items: 4;
}

.galery-item {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/**
  |============================
  | BOOKING AND CONTACTS
  |============================
*/

.group-booking {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #191c26;
  background-image: url(../images/background/contacts-bg.png);
  background-position: calc((100% / 2) + 327px) 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.group-booking .section-title {
  color: var(--white-text-color);
  margin-bottom: 40px;
}

.contacts-address {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--secondary-text-color);

  margin-bottom: 70px;
}

.section-contacts {
  padding-left: 100px;
}

.adress-bottom {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.group-booking .label {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--noactive-text-color);
}

.group-booking .label:hover,
.group-booking .label:focus {
  color: var(--white-text-color);
  cursor: pointer;
}

.section-contacts .uppertitle {
  color: var(--white-text-color);
}

.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.group-booking .btn-booking {
  margin-top: 44px;
}

.address {
  display: inline-block;
  margin-left: 37px;
}

.section-contacts .link {
  margin-left: 37px;
}

.section-contacts .item-center {
  display: flex;
  align-items: center;
}

form {
  background-color: #191c26;
}

/* FLEX BOOKING */

.booking-flex {
  display: flex;
}

.booking-contacts {
  width: calc(100% / 2);
}

/* FOOTER */

.copyright {
  padding: 56px 0;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--secondary-text-color);
}

.footer .link {
  padding: 56px 0;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--title-text-color);
}

/* FLEX FOOTER */
.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer .social-list {
  display: flex;
  align-items: center;
}

.footer .list-item {
  display: flex;
  align-items: center;
}

/**
  |============================
  | Flip card 3D
  |============================
*/
.team-item:hover .team-card {
  transform: rotateY(-180deg);
  box-shadow: 7px 13px 25px -6px rgb(0 0 0 / 72%);
}
.team-item {
  perspective: 600px;

  cursor: pointer;
  height: 346px;
}
.team-card {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  transition: transform 1s ease, box-shadow 1s ease;
  transform-style: preserve-3d;
}
.card-front {
  position: absolute;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
}
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  background-color: var(--secondary-bg-color);
  transform: rotateY(180deg);
}
